{### APlayer ###}
<link href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.0.0/style.css"/>
  <script>
    var meting_api = 'https://meting.yany.ml/api?server=:server&type=:type&id=:id&auth=:auth&r=:r';
  </script>
  <style>
    @import 'lxgw-wenkai-lite-webfont/style.css';
  </style>
  <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/meting@1.2.0/dist/Meting.min.js"></script>
  <div
    class="aplayer"
    data-id="8201666696"
    data-server="netease"
    data-type="playlist"
    data-fixed="true"
    data-autoplay="false"
    data-order="random"
    data-volume="0.2"
    data-theme="#4C5E87"
    data-preload="auto"
    data-lrc-type="0"></div>