/* ************************* */
/* ********** 全局 ********** */
/* ************************* */
/* 隐藏顶部线条 */
.headband {
  display: none;
}

/* 顶部边距 */
@media (min-width: 991px) {
  .main {
    margin-top: 12px;
  }
}

/* 侧边栏 */
.header, .sidebar-inner {
  border-radius: $common-radius;

  .site-brand-container {
    border-radius: $common-radius $common-radius 0 0;
    background: url($site-brand-bg-url);
    background-size: cover;

    @media (prefers-color-scheme: dark) {
      background: url($site-brand-bg-url-dark);
      background-position: 0 70%;
      background-size: cover;
    }

    +mobile() {
      border-radius: 0 0 $common-radius $common-radius;
    }

    .site-subtitle {
      font-size: 0.85em;

      @media (prefers-color-scheme: light) {
        color: $default-white-color;
      }
    }
  }
}

/* 返回顶部按钮 */
.back-to-top {
  background: $secondary-color;
  opacity: 0.8;
  border-radius: 1em;
  color: $default-white-color;

  span {
    font-weight: bold;
    font-size: 1.4em;
  }

  &:hover {
    color: $text-color-dark;
  }
}

/* ************************* */
/* ********** 首页 ********** */
/* ************************* */
/* 文章卡片 */
.post-block {
  border-radius: $common-radius !important;
}

/* 底部分页 */
.pagination {
  border: none !important;
  background: none !important;
  box-shadow: none !important;

  .prev, .next, .page-number {
    border: none;
    border-radius: $common-radius;

    &:hover {
      color: white;
      // background: $btn-default-hover-bg;
      // btn-shadow-hover-only();
    }
  }

  .page-number.current {
    // background: $btn-default-bg;
    // btn-shadow-only();
  }
}

/* 文章信息栏 */
.index .post-meta, .post .post-meta {
  justify-content: left;

  time {
    border-bottom: none;
  }
}

/* 文章标题 */
.index .post-title, .post .post-title {
  text-align: left;
  border-left: $secondary-color 8px solid;
  padding-left: 10px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0.3em 0 0.3em;
}

body {
  background-image: linear-gradient(to right top, #ccd3dd, #bcc9d6, #abc0cf, #9ab7c8, #87aebf);
  background-repeat: repeat;
  background-attachment: fixed;

  @media (prefers-color-scheme: dark) {
    background-image: none;
  }
}

.post-content .post-header {
  margin-bottom: 1em;
}