// 页面宽度和圆角度数
// $content-desktop = 90%;
// $content-desktop-large = 72%;
// $content-desktop-largest = 55%;
$common-radius = 8px;

$text-color-dark              = #d9dad3
$body-bg-color-dark           = #131824;
$content-bg-color-dark        = #2b333e;
$default-white-color          = #ffffff;
$secondary-color              = #4C5E87;
// 图片路径
$images_path                  = hexo-config('images'); // _config.next.yml
$site-brand-bg-url-dark       = $images_path + 'brand-dark.webp';
$site-brand-bg-url            = $images_path + 'brand.webp';
// $body-bg-url                  = $images_path + 'body.webp';