// 页面宽度和圆角度数
// $content-desktop = 90%;
// $content-desktop-large = 72%;
// $content-desktop-largest = 55%;
$common-radius = 8px;

$text-color-dark              = #d9dad3
$body-bg-color-dark           = #131824;
$content-bg-color-dark        = #2b333e;