// 页面宽度和圆角度数
// $content-desktop = 90%;
// $content-desktop-large = 72%;
// $content-desktop-largest = 55%;
$common-radius = 8px;

// $text-color                   = #d9dad3;
$text-color-dark              = #d9dad3;
$body-bg-color-dark           = #131824;
$content-bg-color-dark        = #2b333e;
$default-white-color          = #ffffff;
// $link-color                   = #052630; //#5D7489

$minor-color                  = #87aebf;
$minor-color-dark             = #4C5E87;

$third-color                  = #55859c;
// 图片路径
$images_path                  = hexo-config('images'); // _config.next.yml
$site-brand-bg-dark-url       = $images_path + 'brand-dark.webp';
$site-brand-bg-url            = $images_path + 'brand.webp';
$site-background-img-url      = $images_path + 'background.webp';
// $body-bg-url                  = $images_path + 'body.webp';